<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace中是映射文件所对应的映射接口的全限定名 -->
<mapper namespace="com.briup.estore.dao.CategoryMapper">
	
	<!-- 查找所有的一级分类 -->
	<select id="selectFristCategory" resultMap="categoryResultMap">
	   select * from es_category where category_id is null
	</select>
	
	<!-- 查找一级分类底下所有的二级分类 -->
	<select id="selectSecondCategory" parameterType="int" resultType="Category">
		select * from es_category where category_id = #{id}
	</select>
	
	<!--1.多表关联查询，一对一关系resultMap  -->
	<resultMap type="Category" id ="categoryResultMap">
		<id column="id" property="id" />
		<result column="name" property="name"/>
		<result column="description" property="description"/>
		<collection column="id" select="selectSecondCategory" property="categories"/>
	</resultMap>
</mapper>