<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace中是映射文件所对应的映射接口的全限定名 -->
<mapper namespace="com.briup.estore.dao.ShopAddressMapper">

	<!-- 根据id查询用户所有的地址信息 -->
	<select id="selectAddressByCustId" parameterType="int"
		resultType="ShopAddress">
		select * from es_shopaddress
		where customer_id=#{custId}
	</select>
	<!-- 根据地址id查询的地址信息 -->
	<select id="selectAddressById" parameterType="int"
		resultType="ShopAddress">
		select * from es_shopaddress
		where id=#{id}
	</select>




</mapper>